<div class="row portfolio-container contCard" >
  @for (product of products(); track $index){
  <app-card class="card" [product]="product" />
}

<div class="product-grid__item">
  <div class="product-grid__imagen">
      <img src="img/manzana.jpg" alt="">
  </div>

  <div class="product-grid__info">
      <p class="product-grid__name">Manzana</p>
      <p class="product-grid__price">$5.00 / kg</p>
      <a href="#" class="product-grid__btn btn-default" data-btn-action="add-btn-cart" data-modal="#jsModalCarrito" >Agregar al carrito</a>
  </div>

</div>
</div>
