
<div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp card" >
  <div class="portfolio-wrap">
    <figure>
      <img src="{{ product().image }}" class="img-fluid" alt="{{ product().title }}">
      <a (click)="onAddToCart()" data-gallery="portfolioGallery" class="link-preview portfolio-lightbox" title="Preview"><i class="bx bx-plus"></i></a>
      <a [routerLink]="['/products',(product().id)]"   class="link-details" title="More Details"><i class="bx bx-link"></i></a>
    </figure>
    <button type="submit" [routerLink]="['/products',(product().id)]"></button>

    <div class="portfolio-info" style="height: auto;" >

      <h5>{{ product().price }}</h5>
      <h6><a [routerLink]="['/products',(product().id)]">{{ product().title | slice:0:30 }}</a></h6>
      <p>{{ product().category }}</p>

    </div>
  </div>
</div>
